<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading">
<div id="logo" class="d-flex flex-column justify-content-center align-items-center w-100 h-75v text-center panel-logo">
  <h1>¿En busca de la mejor música?</h1>
  <p class="lead">
    Escuhca ya millones de canciones de todo el mundo.
  </p>
</div>
<div id="destacats" class="container d-flex flex-column justify-content-center align-items-center destacados text-center">
  <h2>¿Qué hay de nuevo?</h2>
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="d-flex flex-column justify-content-center mt-4">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" role="img">
          <title>Escucha a tu manera.</title>
          <path d="M32 64C14.327 64 0 49.673 0 32 0 14.327 14.327 0 32 0c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32zm-6.5-20.866l17.785-10.268a1 1 0 0 0 0-1.732L25.5 20.866a1 1 0 0 0-1.5.866v20.536a1 1 0 0 0 1.5.866z" fill="#F037A5" fill-rule="evenodd"></path>
        </svg>
      </div>
      <h3>Escucha a tu manera.</h3>
      <p>Te hemos hecho playlists especiales. Escucha las canciones en el orden que quieras y saltando todas las que quieras.</p>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="d-flex flex-column justify-content-center mt-4">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 54 50" role="img">
          <title>Playlistes aún más fácil.</title>
          <defs>
            <path d="M0 50h4.165V.02H0V50zm16.664 0h4.165V.02h-4.165V50zM30.658 0l-3.807 1.691 21.433 48.142 3.807-1.695L30.658 0z" id="a"></path>
          </defs>
          <use fill="#F037A5" fill-rule="nonzero" xlink:href="#a"></use>
        </svg>
      </div>
      <h3>Playlistes aún más fácil.</h3>
      <p>Empieza una playlist nueva y te sugeriremos canciones similares para ayudarte.</p>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="d-flex flex-column justify-content-center mt-4">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" role="img">
          <title>Spotify se adapta a ti.</title>
          <path d="M32.17,0A32,32,0,1,0,64,32.17,32,32,0,0,0,32.17,0Zm8.33,32.88L34,40.46a2.63,2.63,0,0,1-4,0l-6.5-7.69A6,6,0,0,1,31.58,24a.78.78,0,0,0,.45.17.82.82,0,0,0,.46-.16,6,6,0,0,1,8,8.86Z" fill="#F037A5"></path>
        </svg>
      </div>
      <h3>Adáptalo a ti.</h3>
      <p>Dinos lo que te va, dándole al corazón. Así, te recomendaremos temas que te encantarán.</p>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="d-flex flex-column justify-content-center mt-4">
        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.56 64" role="img">
          <title>Ahorra datos móviles.</title>
          <polygon points="25.52 24.03 48.56 24.03 17.68 64 22.41 39.84 0 39.84 30.01 0 25.52 24.03" fill="#F037A5"></polygon>
        </svg>
      </div>
      <h3>Ahorra datos móviles.</h3>
      <p>Para consumir menos datos, activa el modo ahorro en Configuración.</p>
    </div>

  </div>
</div>
<div id="frase" class="d-flex flex-column justify-content-center align-items-center w-100 h-75v apartat-2 frase text-center">
  <h2>
    Para escuchar juntos. O cada uno con lo suyo.
    <br />No es una prueba y no necesitas tarjeta de crédito.
  </h2>
</div>
</div>

<app-loading *ngIf="loadingNewReleases"></app-loading>

<div *ngIf="errorNewReleases" class="alert alert-danger animated fadeIn">
  <h3>Error</h3>
  <p>
    {{ mensajeError }}
  </p>
</div>

<div *ngIf="!loadingNewReleases && !errorNewReleases">
  <div id="newReleases" class="container d-flex flex-column justify-content-center align-items-center text-center newReleases">
    <h2>¿En busca de música?</h2>
    <p class="lead">Escucha ya los mejores lanzamientos nuevos.</p>
    <app-tarjetas [items]="nuevasCanciones"></app-tarjetas>
  </div>
</div>
